<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Steeze</h2>
        </header>
        <p>This is <strong>Steeze</strong>, a badass
        <br />
        ski blog. Giveaways, News & more.
        <br />
        Launching <strong>January 2016</strong>
        <br />
        <footer>
            <ul class="buttons vertical">
                <li><a href="blog.html" class="button fit scrolly">Blog</a></li>
            </ul>
        </footer>

    </div>

</section>
